/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
}

/* Styles pour le conteneur principal */
.data-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour le titre */
.title {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Styles pour le formulaire */
form {
    margin-bottom: 20px;
}

/* Styles pour les étiquettes de formulaire */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Styles pour les champs de formulaire */
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styles pour le bouton de soumission */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Styles pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Styles pour les en-têtes de tableau */
th {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Styles pour les cellules de tableau */
td {
    width: 25%;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Styles pour les cellules de tableau avec seuil dépassé */
td.seuil-depasse {
    background-color: #ff6347;
    color: #fff;
    font-weight: bold;
}

/* Styles pour le message d'absence de données */
td.no-data {
    text-align: center;
    font-weight: bold;
    color: #777;
}

/* Styles pour le rafraîchissement automatique */
.refresh-message {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
}
