/* Styles pour la page de données du capteur */
h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.data-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.data-container table {
    width: 100%;
}

.data-container table th {
    font-weight: bold;
    text-align: left;
}

.data-container table td {
    padding: 5px;
}

/* Styles pour les libellés des capteurs */
.capteur-label {
    font-weight: bold;
    color: #007BFF; /* Couleur bleue pour les libellés des capteurs */
}
