{% extends "main.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'GRJOJAPP/capteur.css' %}">
{% endblock %}

{% block title %}
    Données du Capteur
{% endblock %}

{% block content %}
    <div class="data-container">
        <h2 class="title">Données du Capteur</h2>
        <table>
            <thead>
                <tr>
                    <th scope="col">Capteur1</th>
                    <th scope="col">Capteur2</th>
                </tr>
            </thead>
            <tbody>
                {% if latest_information %}
                    <tr>
                        <td>{{ latest_information.capteur1 }}</td>
                        <td>{{ latest_information.capteur2 }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Aucune donnée enregistrée.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <script>
        // Fonction pour rafraîchir la page après un certain laps de temps (en millisecondes)
        function autoRefreshPage() {
            setTimeout(function () {
                location.reload();
            }, 120000); //Vous pouvez ajuster ce délai selon vos besoins.
        }
    
        // Appeler la fonction de rafraîchissement automatique lorsque la page est chargée
        window.onload = autoRefreshPage;
    </script>
</div>
{% endblock %}
