{% extends "main.html" %}

{% block title %}
    Menu de la Prise WIFI Intelligente
{% endblock %}

{% block content %}
    <main>
        <h2>Bienvenue dans le Menu de la Prise WIFI Intelligente</h2>
        <p>Sélectionnez une option dans le menu ci-dessus pour commencer.</p>
        <p>Vous êtes connecté en tant qu : {{ user.username }}</p>
        <p>Prise 1 : {{ informations.prise1 }}</p>
        <p>Prise 2 : {{ informations.prise2 }}</p>
        {% load static %}
        <img id=fond src="{%static '/GRJOJAPP/image/prise.jpg'%}" alt="Image prise">
        <main>
{% endblock %}