{% extends "main.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'GRJOJAPP/plage_horaires.css' %}">
{% endblock %}

{% block title %}
    Sélectionner une plage horaire
{% endblock %}

{% block content %}
    <div class="page-content">
        <form method="post">
            {% csrf_token %}
            {{ form.startplage1.label_tag }}
            <input type="time" name="{{ form.startplage1.name }}" value="{{ latest_informations.startplage1|date:"H:i" }}" step="1">
            {{ form.endplage1.label_tag }}
            <input type="time" name="{{ form.endplage1.name }}" value="{{ latest_informations.endplage1|date:"H:i" }}" step="1">
            {{ form.startplage2.label_tag }}
            <input type="time" name="{{ form.startplage2.name }}" value="{{ latest_informations.startplage2|date:"H:i" }}" step="1">
            {{ form.endplage2.label_tag }}
            <input type="time" name="{{ form.endplage2.name }}" value="{{ latest_informations.endplage2|date:"H:i" }}" step="1">        
            <button type="submit">Valider</button>
        </form>
    </div>
    <script>
        // Fonction pour rafraîchir la page après un certain laps de temps (en millisecondes)
        function autoRefreshPage() {
            setTimeout(function () {
                location.reload();
            }, 25000); // 25000 millisecondes (25 secondes). Vous pouvez ajuster ce délai selon vos besoins.
        }
    
        // Appeler la fonction de rafraîchissement automatique lorsque la page est chargée
        window.onload = autoRefreshPage;
    </script>
{% endblock %}
